<footer class="container border-top border-secondary mt-4">
  <div class="row justify-content-center p-3">
    <div class="col-6 col-md-3">
      <h5>Ocasiones especiales</h5>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a class="link-secondary" href="#">Celebraciones</a>
        </li>
        <li class="mb-2"><a class="link-secondary" href="#">Navidad</a></li>
        <li class="mb-2">
          <a class="link-secondary" href="#">Me lo merezco</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5>Más información</h5>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a class="link-secondary" href="#">Plantas de interior</a>
        </li>
        <li class="mb-2">
          <a class="link-secondary" href="#">Plantas de exterior</a>
        </li>
        <li class="mb-2">
          <a class="link-secondary" href="#">Ramos de flores</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5>Sobre nosotros</h5>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a class="link-secondary" href="#">Nuestra historia</a>
        </li>
        <li class="mb-2"><a class="link-secondary" href="#">Equipo</a></li>
        <li class="mb-2"><a class="link-secondary" href="#">Prensa</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5>Legal</h5>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a class="link-secondary" href="#">Terminos y condiciones</a>
        </li>
        <li class="mb-2">
          <a class="link-secondary" href="#">Política de privacidad</a>
        </li>
        <li class="mb-2">
          <a class="link-secondary" href="#">Política de cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
