<footer class="col-12 bg-light">
  <div class="container pt-3">
    <div class="row justify-content-center text-center">
      <div class="col-4">
        <h5>Links1</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Link 1</a></li>
          <li class="mb-2"><a href="#">Link 2</a></li>
          <li class="mb-2"><a href="#">Link 3</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h5>Links2</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Link 1</a></li>
          <li class="mb-2"><a href="#">Link 2</a></li>
          <li class="mb-2"><a href="#">Link 3</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h5>Links3</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Link 1</a></li>
          <li class="mb-2"><a href="#">Link 2</a></li>
          <li class="mb-2"><a href="#">Link 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
