<main class="container">
  <div class="row">
    <div
      id="carouselExampleIndicators"
      class="carousel slide p-0"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner d-none d-sm-none d-md-block">
        <div class="carousel-item active">
          <img
            src="assets/images/slide01.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/slide02.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/slide03.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev d-none d-sm-none d-md-block"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next d-none d-sm-none d-md-block"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div>
    <h2 class="text-center my-3 title">
      Flores y plantas frescas para recordar cualquier día.
    </h2>
  </div>
  <div class="row mt-2 mt-md-4">
    <section class="col-12 pb-0 p-3 pt-3 pt-md-0">
      <h3 class="ps-3 pb-3 text-center">Los más regalados</h3>
      <div class="row justify-content-center">
        <div class="card" style="width: 14rem">
          <img
            src="assets/images/product01.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product01</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
        <div class="card" style="width: 14rem">
          <img
            src="assets/images/product02.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product02</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
        <div class="card" style="width: 14rem">
          <img
            src="assets/images/product03.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product03</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-9 col-sm-6 mx-auto p-3">
        <a
          class="btn btn-outline-secondary"
          href="../products.html"
          role="button"
        >
          Todos los productos
        </a>
      </div>
    </section>
  </div>
  <div class="row text-center bg-success bg-opacity-50 text-white details">
    <h3 class="p-3 mb-0 text-uppercase fw-bold fs-2">Lorem ipsum</h3>
    <article class="col-12 col-md-4">
      <i class="fas fa-leaf fs-1"></i>
      <h4>Colores</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </article>
    <article class="col-12 col-md-4">
      <i class="fas fa-tree fs-1"></i>
      <h4>Variedad</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </article>
    <article class="col-12 col-md-4">
      <i class="fas fa-globe-europe fs-1"></i>
      <h4>Origen</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </article>
  </div>
  <div class="row social-media">
    <article class="col-12 p-0">
      <img src="assets/images/slide01.jpg" class="d-block w-100" alt="..." />
      <h3 class="text-center my-3 sub-title">Etiquétanos con #Plantit</h3>
      <p class="text-center mb-0">y no te pierdas nada en:</p>
      <div class="text-center fs-3">
        <i class="fab fa-twitter p-1"></i>
        <i class="fab fa-facebook p-1"></i>
        <i class="fab fa-instagram p-1"></i>
      </div>
    </article>
  </div>
</main>
