<main class="container">
  <div class="row mt-2 mt-md-3">
    <!-- Filtros -->
    <article class="col-12 col-md-3 p-3 bg-white rounded border border-1">
      <h3 class="pb-2">Filtros</h3>
      <div clas="row">
        <!-- Filtro Color-->
        <div class="col-12 mb-3">
          <h4>Color</h4>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Rojo
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Rosa
            </label>
          </div>
        </div>
        <!-- Filtro Colección-->
        <div class="col-12">
          <h4>Colección</h4>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Los más vendidos
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Navidad
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Otoño ven a mi
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Colecciones de siempre
            </label>
          </div>
        </div>
        <!-- Filtro Min Max precio-->
        <div class="col-12 mb-3">
          <h4>Precio</h4>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              value=""
              id="inputMin"
              placeholder="1.10 €"
            />
            <label class="form-check-label" for="inputMin"> Min </label>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              value=""
              id="inputMax"
              placeholder="5.60 €"
            />
            <label class="form-check-label" for="inputMax"> Max </label>
          </div>
        </div>
      </div>
    </article>
    <!-- Productos -->
    <section class="col-12 col-md-9 pb-0 p-3 pt-3 pt-md-0">
      <div class="row justify-content-center js-container-products"></div>
    </section>
  </div>
</main>
