.fa-seedling {
  font-size: 1.5rem;
  color: #198754;
}
@media (min-width: 768px) {
  .fa-seedling {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .fa-seedling {
    font-size: 3rem;
  }
}
