.form-check-input:checked {
  background-color: grey;
  border-color: grey;
}
.card {
  margin: 0.5rem;
  img {
    padding-top: 0.5rem;
    height: 200px;
  }
  .card-body {
    a {
      background-color: lightgray;
      border-color: lightgray;
      &:hover {
        background-color: grey;
        border-color: grey;
      }
    }
  }
}
