.title {
  font-size: 1.75rem;
  color: seagreen;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.form-check-input:checked {
  background-color: grey;
  border-color: grey;
}
.card {
  margin: 0.5rem;
  img {
    padding-top: 0.5rem;
    height: 200px;
  }
  .card-body {
    a {
      background-color: lightgray;
      border-color: lightgray;
      &:hover {
        background-color: grey;
        border-color: grey;
      }
    }
  }
}
.details {
  h4 {
    color: seagreen;
  }
  i {
    color: rgb(33, 99, 62);
  }
}
.social-media {
  h3 {
    color: seagreen;
  }
  i {
    color: rgb(33, 99, 62);
  }
}
