.title {
  font-size: 1.75rem;
  color: seagreen;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.card {
  margin: 0.5rem;
  img {
    padding-top: 0.5rem;
    height: 200px;
  }
  .card-body {
    a {
      background-color: lightgray;
      border-color: lightgray;
      &:hover {
        background-color: grey;
        border-color: grey;
      }
    }
  }
}

.details {
  h4 {
    color: seagreen;
  }
  i {
    color: rgb(33, 99, 62);
  }
}

.parallax {
  /* The image used */
  background-image: url("../images/slide04.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-media {
  h3 {
    color: seagreen;
  }
  i {
    color: rgb(33, 99, 62);
  }
}
